<section class="p-3 bg-secondary" style="height: 100vh;">
{{!-- {{#each users as |user| }} --}}
  <div class="card">
    <div class="card-header flex-column bg-secondary text-light">
      Post Title Here
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Author
        </footer>
      </blockquote>
    </div>
  </div>
{{!-- {{/each}} --}}
</section>